*{
  /* background-color: #3c36ef; */
  padding: 0;
  margin: 0;
  overflow: hidden;
  /* background: #6d69db; */
  /* background: #ee4747; */
}

a{
  position: absolute;
  color:rgb(177, 190, 201);
  bottom: 10%;
  font-family: 'Montserrat';
  left: 45vw;
  text-decoration: none;
}

.model{
  color: aliceblue;
  position: absolute;
  bottom: 10%;
  font-family: 'Montserrat';
  left: 80vw;
}

h1{
  position: absolute;
  color: rgb(177, 190, 201);
  /* color: #6560e9; */
  top: 10%;
  left: 44%;
  font-family: monospace;
}